{
  "version" : "2018-05-29",
  "operation" : "GetItem",
  "key" : {
    "ownerId" : $util.dynamodb.toDynamoDBJson($context.identity.username),
    "hostId" : $util.dynamodb.toDynamoDBJson($context.source.id)
  }
}
